svg {
  font-family: 'Cousine';
}

.annotation-note-title text.title {
  font-weight: bold;
  font-size: 1.2em;
}

.annotation-note-content rect{
  fill-opacity:0.90;
  fill: #2B3033;
}

.annotation-note-content text{
  color:#bdbdc1;
}
